@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply fixed top-0 left-0 w-[100%] h-[70px] px-[10px] border-b-2 border-bs bg-white z-[100];
  }
  .main-relative {
    @apply relative after:block after:pb-[100%];
  }
  .main-absolute {
    @apply absolute w-[100%] h-[100%] mx-auto my-0 p-[15px];
  }

  .input-templete {
    @apply w-full my-[5px] pt-[10px] pb-[15px] outline-0 border-b border-bs focus:border-bc focus:bg-bcvl;
  }
  .submit-button {
    @apply cursor-pointer text-[16px] text-white bg-bc rounded-[4px] px-[16px] py-[9px] hover:bg-bcd;
  }

  .header-menu-button {
    @apply cursor-pointer py-[5px] px-[7px] hover:bg-bc/20;
  }

  .background-shadow {
    @apply fixed top-0 right-0 w-full h-full bg-zinc-800 bg-opacity-50 z-10;
  }

  .flex-middle {
    @apply flex justify-center items-center;
  }
}

.text-overflow-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-overflow-3 {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
